<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">

    <div class="row">
      <mat-toolbar class="toolbar">
        <span (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{currentProduct.name}}</span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon"><mat-icon class="toolbar-icon" (click)="submit()">save</mat-icon></span>
      </mat-toolbar>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div class="mat-input-container md-input-full-width">
          <div class="mat-input-wrapper">
            <div class="mat-input-infix mat-select-flex">
              <mat-select name="category" placeholder="Category" [formControl]="formControlCategory" [(ngModel)]="current.category" (change)="onCategoryChanged($event)">
                <mat-option *ngFor="let category of categorys" [value]="category.key">
                  {{ category.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControlCategory.hasError('required')">
                Category is <strong>required</strong>
              </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="md-input-full-width">
          <input matInput type="number" name="amount" [(ngModel)]="current.amount" placeholder="Amount" [formControl]="formControlAmount"
            autocomplete="off">
          <mat-error *ngIf="formControlAmount.hasError('required')">
            Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="hasTerm(current.category)">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="md-input-full-width">
          <input matInput name="startdate" [(ngModel)]="current.startdate" [min]="minDate" [max]="maxDate" [formControl]="formControlStart"
            [matDatepicker]="startpicker" placeholder="Start Date">
          <span matSuffix>00:00:00 &nbsp;</span>
          <!-- <button matSuffix [mdDatepickerToggle]="startpicker"></button> -->
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-error *ngIf="formControlStart.hasError('required')">
            Start date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
       
        <mat-datepicker #startpicker></mat-datepicker>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="md-input-full-width">
          <input matInput name="duedate" [(ngModel)]="current.duedate" [min]="minDate" [max]="maxDate" [formControl]="formControlDue"
            [matDatepicker]="duepicker" placeholder="Due Date">
          <span matSuffix>23:59:59 &nbsp;</span>
          <!-- <button matSuffix [mdDatepickerToggle]="duepicker"></button> -->
          <mat-datepicker-toggle matSuffix [for]="duepicker"></mat-datepicker-toggle>
          <mat-error *ngIf="formControlDue.hasError('required')">
            Due date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-datepicker #duepicker></mat-datepicker>
      </div>
    </div>

    <div class="row" *ngIf="hasGrade(current.category)">
      <div layout="row" class="col-md-4 col-sm-6 col-xs-10">
        <div flex="40">
          <mat-form-field class="md-input-full-width">
            <input matInput type="number" name="grade" [(ngModel)]="current.grade" placeholder="Grade" [formControl]="formControlGrade"
              autocomplete="off">
            <mat-error *ngIf="formControlGrade.hasError('max')">
              Grade should be less than or equal to 100.
            </mat-error>
            <mat-error *ngIf="formControlGrade.hasError('min')">
              Grade should be greater than or equal to 0.
            </mat-error>
            <mat-error *ngIf="formControlGrade.hasError('required')">
              Grade is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div flex="10"></div>
        <div flex="40">
          <mat-form-field class="md-input-full-width">
            <input matInput type="number" name="grade" [(ngModel)]="current.gradeto" placeholder="To" [formControl]="formControlGradeTo" autocomplete="off">
            <mat-error *ngIf="formControlGradeTo.hasError('max')">
              Grade should be less than or equal to 100.
            </mat-error>
            <mat-error *ngIf="formControlGradeTo.hasError('min')">
              Grade should be greater than or equal to 0.
            </mat-error>
            <mat-error *ngIf="formControlGradeTo.hasError('required')">
              Grade is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-checkbox [checked]="current.active" [(ngModel)]="current.active"> {{current.active?"Activated":"Inactive"}} </mat-checkbox>
      </div>
    </div>

  </div>
</div>
