<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span matTooltip="Back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <td-file-input class="hidden" #fileInput [(ngModel)]="files" [disabled]="false" accept=".png,.jpg,.jpge" (select)="selectEvent($event)"></td-file-input>
        <span class="toolbar-spacer"></span>
        <span *ngIf="editable()" class="toolbar-icon"><mat-icon matTooltip="Attach" class="toolbar-icon" (click)="fileInput.inputElement.click()">attachment</mat-icon></span>
        <span *ngIf="editable()" class="toolbar-icon"><mat-icon matTooltip="Save" class="toolbar-icon" (click)="save()">save</mat-icon></span>
        <span *ngIf="editable()" class="toolbar-icon"><mat-icon matTooltip="Confirm" class="toolbar-icon" (click)="done()">done</mat-icon></span>
      </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="tn" [(ngModel)]="current.tn" placeholder="Transaction No." disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="sn" [(ngModel)]="current.sn" placeholder="Order No." disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div class="mat-input-container mat-input-full-width">
            <div class="mat-input-wrapper">
              <div class="mat-input-infix mat-select-flex">
                <mat-select name="status" placeholder="Status" [(ngModel)]="current.status" disabled>
                  <mat-option *ngFor="let status of statuses" [value]="status.key">
                    {{ status.value }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="date" [(ngModel)]="current.date" placeholder="Transaction Time" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div class="mat-input-container mat-input-full-width">
          <div class="mat-input-wrapper">
            <div class="mat-input-infix mat-select-flex">
              <mat-select name="paymethod" placeholder="Payment Method" [(ngModel)]="current.paymethod" [formControl]="formControlPaymethod">
                <mat-option *ngFor="let paymethod of paymethods" [value]="paymethod.key">
                  {{ paymethod.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput type="number" name="payment" [(ngModel)]="current.payment" placeholder="Payment Amount" [formControl]="formControlPayment">
          <span *ngIf="!equalamount()" class="tc-amber-800" matSuffix>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Payable {{ current.payable | number:'1.2-2' }}
          </span>
        </mat-form-field>
        <mat-error *ngIf="formControlPayment.hasError('required')">
          Payment amount is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formControlPayment.hasError('min')">
            Payment amount should be greater than 0
          </mat-error>
      </div>
    </div>
    <div *ngIf="current.doc" class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div>
          <span><i class="fa fa-paperclip" aria-hidden="true"></i></span>
          <img [src]="current.doc" alt="doc" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>
