<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <mat-toolbar class="toolbar">
      <span class="toolbar-icon-back" *ngIf="!searchBox.searchVisible"><mat-icon>reorder</mat-icon></span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="gridview.search($event)"
        flex>
      </td-search-box>
      <span class="toolbar-icon" (click)="add()"><i class="fa fa-plus" aria-hidden="true"></i></span>
    </mat-toolbar>
    <td-data-table #dataTable [data]="gridview.filteredData" [columns]="gridview.columns" [selectable]="gridview.selectable" [multiple]="multiple" [sortable]="true"
      [clickable]="gridview.clickable" [sortBy]="gridview.sortBy" [(ngModel)]="gridview.selectedRows" [sortOrder]="gridview.sortOrder" (sortChange)="gridview.sort($event)">
      <ng-template tdDataTableTemplate="name" let-value="value" let-row="row" let-column="column">
        <div class="row">
          <div class="col-xs-12">
            <i *ngIf="!row.active" class="fa fa-square-o" aria-hidden="true"></i>
            <i *ngIf="row.active" class="fa fa-check-square-o" aria-hidden="true"></i> {{value}}
          </div>
          <div class="col-xs-12">
            <span *ngFor="let tag of row.tags" class="label label-default" matTooltip="{{tag.name}}">{{ tag.value }}</span>
          </div>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="onshelf" let-value="value" let-row="row" let-column="column">
        <i *ngIf="!value" class="fa fa-square-o" aria-hidden="true"></i>
        <i *ngIf="value" class="fa fa-check-square-o" aria-hidden="true"></i>
      </ng-template>
      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
        <div layout="row" layout-align="end end">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(value)"><mat-icon>edit</mat-icon><span>Edit</span></button>
            <button mat-menu-item (click)="showPrices(value)"><mat-icon>attach_money</mat-icon><span>Price</span></button>
            <button mat-menu-item (click)="shelf(row)">
                <span *ngIf="!row.onshelf"><mat-icon>cloud_upload</mat-icon><span>On Shelf</span></span>
                <span *ngIf="row.onshelf"><mat-icon>cloud_download</mat-icon><span>Off Shelf</span></span>
            </button>
            <button mat-menu-item (click)="showImages(value)"><mat-icon>image</mat-icon><span>Image</span></button>
            <button mat-menu-item (click)="delete(value)"><mat-icon class="tc-red-800">delete</mat-icon><span>Remove</span></button>
          </mat-menu>
        </div>
      </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <mat-paginator [length]="gridview.filteredTotal" [pageSize]="gridview.pageSize" [pageSizeOptions]="gridview.pageSizeOptions" (page)="gridview.page($event)">
    </mat-paginator>
  </div>
</div>
