<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <md-toolbar class="toolbar">
      <span *ngIf="!searchBox.searchVisible" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
      <td-search-box #searchBox backIcon="arrow_back" class="md-title" placeholder="Search here" (searchDebounce)="search($event)"
        flex> </td-search-box>
      <span class="toolbar-icon" (click)="add()"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    </md-toolbar>
    <md-divider></md-divider>
    <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [multiple]="multiple" [sortable]="true"
      [clickable]="clickable" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)">
      <ng-template tdDataTableTemplate="categoryname" let-value="value" let-row="row" let-column="column">
        <i *ngIf="!row.active" class="fa fa-square-o" aria-hidden="true"></i>
        <i *ngIf="row.active" class="fa fa-check-square-o" aria-hidden="true"></i>
        <span>{{value}}</span>
      </ng-template>
      <ng-template tdDataTableTemplate="grade" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span *ngIf="!hasGrade(row.category)" class="text-md tc-grey-400">N.A</span>
          <span *ngIf="hasGrade(row.category)">{{value}}</span>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="startdate" let-value="value" let-row="row" let-column="column">
        <div *ngIf="hasTerm(row.category)" layout="row">
          <span class="text-md">{{row.startdate | date: 'yyyy/M/d HH:mm:ss'}}</span>
          <span class="text-md tc-grey-400">&nbsp;to&nbsp;</span>
          <span class="text-md">{{row.duedate | date: 'yyyy/M/d  HH:mm:ss'}}</span>
        </div>
        <div *ngIf="!hasTerm(row.category)" layout="row">
          <span class="text-md tc-grey-400">N.A</span>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
        <div layout="row" layout-align="end end">
          <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="edit(value)"><md-icon>edit</md-icon><span>Edit</span></button>
            <button md-menu-item (click)="delete(value)"><md-icon class="tc-red-800">delete</md-icon><span>Remove</span></button>
          </md-menu>
        </div>
      </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Page</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</div>
