<page-header [header]="header"></page-header>

<div class="row">
  <div class="col-xs-12">
    <div class="card-box">
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title"><md-icon>list</md-icon></span>
        <span *ngIf="selectedRows.length && selectable" class="md-body-1">0 item(s) selected</span>
        </span>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
          flex>
        </td-search-box>
      </div>
      <md-divider></md-divider>
      <td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [multiple]="multiple" [sortable]="true"
        [clickable]="clickable" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)">
        <ng-template tdDataTableTemplate="tags" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <md-chip-list>
              <md-chip *ngFor="let item of value">
                <span mdTooltip="{{item.name}}">{{ item.value }}</span>
              </md-chip>
            </md-chip-list>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="prices" let-value="value" let-row="row" let-column="column">
          {{value.Selling | number:'1.2-2'}}
        </ng-template>
        <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
          <div layout="row" layout-align="end end">
            <button md-icon-button (click)="add(value)"><md-icon>add</md-icon></button>
          </div>
        </ng-template>
      </td-data-table>
      <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <span class="md-caption tc-grey-400">No Product(s) for Sale.</span>
      </div>
      <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
        <span td-paging-bar-label hide-xs>Page</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>
  </div>
</div>
