<page-header [header]="header"></page-header>

<div class="row">
  <div class="col-xs-12">
    <div class="card-box">
      <div class="row">
        <mat-toolbar class="toolbar">
          <span (click)="back()" class="toolbar-icon-back">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
          <span class="toolbar-spacer"></span>
          <span *ngIf="visible('save')" class="toolbar-icon">
            <mat-icon matTooltip="Save" (click)="save()">save</mat-icon>
          </span>
          <span *ngIf="visible('confirm')" class="toolbar-icon">
            <mat-icon matTooltip="Confirm" (click)="done()">done</mat-icon>
          </span>
          <span *ngIf="visible('drop')" class="toolbar-icon tc-red-800">
            <mat-icon matTooltip="Drop" (click)="delete()">delete</mat-icon>
          </span>
        </mat-toolbar>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-10">
          <mat-form-field class="mat-input-full-width">
            <input matInput name="name" [(ngModel)]="current.sn" placeholder="SN" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-10">
          <mat-form-field class="mat-input-full-width">
            <input matInput name="date" [(ngModel)]="current.date" placeholder="Date" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-10">
          <mat-form-field class="mat-input-full-width">
            <input matInput name="status" [(ngModel)]="current.statusdesc" placeholder="Status" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-10">
          <mat-form-field class="mat-input-full-width">
            <input matInput name="customer" placeholder="Customer" [formControl]="formControlCustomer" [matAutocomplete]="auto">
            <mat-error *ngIf="formControlCustomer.hasError('required')">
              Customer is
              <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="formControlCustomer.hasError('object')">
              Invalid customer
            </mat-error>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-10">
          <mat-form-field class="mat-input-full-width">
            <textarea matInput name="remark" [(ngModel)]="current.remark" [formControl]="formControlRemark" placeholder="Remark" rows="1"
              maxlength="200"></textarea>
            <mat-hint align="end">{{current.remark.length}} / 200</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-box" *ngIf="!showlist&&visible('list')">
      <div class="row">
        <mat-toolbar class="toolbar">
          <span class="toolbar-icon-back">
            <mat-icon>reorder</mat-icon>
          </span>
          <span class="toolbar-spacer"></span>
          <span class="toolbar-icon">
            <mat-icon *ngIf="visible('add')" matTooltip="Add Product(s)" (click)="shopping(current.id)" class="tc-grey-800">add_shopping_cart</mat-icon>
          </span>
        </mat-toolbar>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Unit Price</th>
                  <th>Qty.</th>
                  <th>Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="current.items.length==0">
                  <td class="text-center md-caption tc-grey-400" colspan="6">No Record(s)</td>
                </tr>
                <tr *ngFor="let item of current.items;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.unitprice | number:'1.2-2'}}</td>
                  <td>{{item.qty | number:'1.2-2'}}</td>
                  <td>{{item.unitprice*item.qty | number:'1.2-2'}}</td>
                  <td class="text-right">
                    <span *ngIf="visible('delete')" class="tc-red-800" (click)="deleteItem(item.id)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th class="text-right">Total:</th>
                  <th>{{ total() | number:'1.2-2'}}</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-box" *ngIf="showlist">
      <div class="row">
        <mat-toolbar class="toolbar">
          <span class="toolbar-icon-back" *ngIf="!searchBox.searchVisible" (click)="cancel()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" placeholder="Search here" (searchDebounce)="gridview.search($event)" flex>
          </td-search-box>
        </mat-toolbar>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-xs-10">
            <td-data-table #dataTable [data]="gridview.filteredData" [columns]="gridview.columns" [selectable]="gridview.selectable"
              [multiple]="gridview.multiple" [sortable]="gridview.sortable" [clickable]="gridview.clickable" [sortBy]="gridview.sortBy"
              [(ngModel)]="gridview.selectedRows" [sortOrder]="gridview.sortOrder" (sortChange)="gridview.sort($event)">
              <ng-template tdDataTableTemplate="name" let-value="value" let-row="row" let-column="column">
                {{value}}
              </ng-template>
              <ng-template tdDataTableTemplate="qty" let-value="value" let-row="row" let-column="column">
                {{ value | number:'1.2-2'}}
              </ng-template>
              <ng-template tdDataTableTemplate="rev" let-value="value" let-row="row" let-column="column">
                {{ value | number:'1.2-2'}}
              </ng-template>
              <ng-template tdDataTableTemplate="avl" let-value="value" let-row="row" let-column="column">
                <span class="tc-red-700" *ngIf="value==0">
                  <strong>{{ value | number:'1.2-2'}}</strong>
                </span>
                <span *ngIf="value>0">{{ value | number:'1.2-2'}}</span>
              </ng-template>
              <ng-template tdDataTableTemplate="price" let-value="value" let-row="row" let-column="column">
                {{ value.amount | number:'1.2-2'}}
              </ng-template>
              <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
                <div *ngIf="row.price" layout="row" layout-align="end end">
                  <button [disabled]="row.avl==0" mat-icon-button (click)="add(value,row.price.id)">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                </div>
              </ng-template>
            </td-data-table>
            <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
              <span class="md-caption tc-grey-400">No Product(s) for Sale.</span>
            </div>
            <mat-paginator [length]="gridview.filteredTotal" [pageSize]="gridview.pageSize" [pageSizeOptions]="gridview.pageSizeOptions"
              (page)="gridview.page($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
