<page-header [header]="header"></page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <h4 class="m-t-0 header-title"><b>Role List</b></h4>
      <p class="text-muted font-13 m-b-30">
        This is description for role list page.
      </p>

      <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Describe</th>
            <th>Is Active?</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td>{{role.descrition}}</td>
            <td>{{role.isActive}}</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
