<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span class="toolbar-icon-back" matTooltip="Back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <td-file-input class="hidden" #fileInput [(ngModel)]="files" multiple [disabled]="false" (select)="onSelected($event)" accept=".png,.jpg,.jpge"></td-file-input>
        <span class="toolbar-spacer"></span>
        <span *ngIf="!editable" class="toolbar-icon"><mat-icon matTooltip="Attach" (click)="fileInput.inputElement.click()">folder</mat-icon></span>
        <span *ngIf="!editable&&valid()" class="toolbar-icon"><mat-icon matTooltip="Upload" (click)="upload()">file_upload</mat-icon></span>
        <span *ngIf="!editable&&!valid()" class="toolbar-icon"><mat-icon matTooltip="Edit" (click)="edit()">edit</mat-icon></span>
        <span *ngIf="editable" class="toolbar-icon"><mat-icon matTooltip="Save" (click)="save()">save</mat-icon></span>
        <span *ngIf="editable" class="toolbar-icon"><mat-icon matTooltip="Cancel" *ngIf="editable" (click)="cancel()">cancel</mat-icon></span>
      </mat-toolbar>
    </div>
    <div *ngIf="files.length>0" class="row">
      <div class="col-xs-10">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Size <span class="md-caption">(KB) (&lt;800KB)</span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files;let i=index;">
                <td>{{i+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.type}}</td>
                <td>
                  <span>{{ convert(file.size) }}</span>
                  <span *ngIf="convert(file.size)>800" class="tc-orange-400"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                </td>
                <td class="text-right">
                  <span class="tc-red-800" (click)="drop(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
                </td>
              </tr>
            </tbody>
            <!-- <tfoot>
              <tr>
                <th class="text-right" colspan="5">
                  <button md-raised-button color="accent" [disabled]="!valid()" (click)="upload()">
                        <mat-icon>file_upload</mat-icon>&nbsp;<span class="text-upper">Upload</span>
                  </button>
                </th>
              </tr>
            </tfoot> -->
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!hasImages()" class="row" class="md-padding" layout="row" layout-align="center center">
      <h3>No image(s) to display.</h3>
    </div>
    <div *ngIf="hasImages()" class="row">
      <mat-card *ngFor="let image of current.images" class="col-md-3 col-sm-3 col-xs-10">
        <mat-card-header>
          <mat-card-title class="md-card-title-pad-left-none">
            <span><i class="fa fa-picture-o" aria-hidden="true"></i></span> &nbsp;
            <span>{{image.name}}</span>
          </mat-card-title>
        </mat-card-header>
        <div class="md-card-image-box" layout="row" layout-align="center center">
          <img md-card-image [src]="image.url" class="md-card-image">
        </div>
        <mat-card-actions>
          <div *ngIf="!editable" layout="row">
            <div flex="30">
              <span class="label bgc-blue-grey-700">{{categorydesc(image.category)}}</span>
            </div>
            <div flex="70" class="text-right">
              <span class="md-caption tc-grey-400">{{image.date}}</span>
            </div>
          </div>
          <div *ngIf="editable" layout="row">
            <div flex="30">
              <mat-form-field>
                <input matInput type="number" name="amount" [(ngModel)]="image.sn" placeholder="SN" autocomplete="off">
              </mat-form-field>
            </div>
            <div flex="50">
              <div class="mat-input-infix mat-select-flex">
                <mat-select placeholder="Category" [(ngModel)]="image.category">
                  <mat-option *ngFor="let category of categorys" [value]="category.key">
                    {{ category.value }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div flex="20">
              <div class="mat-input-infix mat-select-flex">
                <mat-icon class="pull-right" (click)="delete(image.id)">delete</mat-icon>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
