<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span matTooltip="Back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon"><mat-icon matTooltip="Save" (click)="submit()">save</mat-icon></span>
      </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="name" [(ngModel)]="current.name" placeholder="Name" [formControl]="formControlCustName" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlCustName.hasError('pattern')">
            Only Support case letters and Chinese.
          </mat-error>
          <mat-error *ngIf="formControlCustName.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <span matPrefix><strong>+86</strong>&nbsp;</span>
          <input matInput name="phone" [(ngModel)]="current.phone" placeholder="Phone No." [formControl]="formControlPhone" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlPhone.hasError('pattern')">
            Phone No. is invalid.
          </mat-error>
          <mat-error *ngIf="formControlPhone.hasError('required')">
            Phone No. is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div class="mat-input-container mat-input-full-width">
          <div class="mat-input-wrapper">
            <div class="mat-input-infix mat-select-flex">
              <md-radio-group [(ngModel)]="current.gender">
                <md-radio-button value="0">Female</md-radio-button>
                <md-radio-button value="1">Male</md-radio-button>
              </md-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <div class="mat-input-container mat-input-full-width">
          <div class="mat-input-wrapper">
            <div class="mat-input-infix mat-select-flex">
              <mat-select name="grade" placeholder="Grade" [(ngModel)]="current.grade" #category>
                <mat-option *ngFor="let level of grade" [value]="level.key">
                  {{ level.name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!enabled" class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span class="toolbar-icon-back"><mat-icon>reorder</mat-icon></span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon"><mat-icon (click)="create()">add</mat-icon></span>
      </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Receiver</th>
                <th>Contact No.</th>
                <th>Address</th>
                <th>Postcode</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="current.shippings.length==0">
                <td class="text-center md-caption tc-grey-400" colspan="6">No Shipping Address(s)</td>
              </tr>
              <tr *ngFor="let item of current.shippings;let i=index;">
                <td>{{i+1}}</td>
                <td>{{item.receiver}}</td>
                <td>{{item.contactno}}</td>
                <td>
                  <span *ngIf="!item.default"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                  <span *ngIf="item.default"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  <span>{{item.province + item.city + item.area + item.street + item.detail }}</span>
                </td>
                <td>{{item.postcode}}</td>
                <td class="text-center">
                  <span (click)="edit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </td>
                <td class="text-center">
                  <span class="tc-red-800" (click)="delete(item.id)"><i class="fa fa-times" aria-hidden="true"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="enabled" class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span><i class="fa fa-address-book" aria-hidden="true"></i></span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon"><mat-icon (click)="save()">save</mat-icon></span>
        <span class="toolbar-icon"><mat-icon (click)="close()">close</mat-icon></span>
      </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="receiver" [(ngModel)]="shipping.receiver" [formControl]="formControlReceiver" placeholder="Receiver"
            autocomplete="off" maxlength="20">
          <mat-error *ngIf="formControlReceiver.hasError('pattern')">
            Only Support case letters and Chinese.
          </mat-error>
          <mat-error *ngIf="formControlReceiver.hasError('required')">
            Receiver is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <span matPrefix><strong>+86</strong>&nbsp;</span>
          <input matInput name="contactno" [(ngModel)]="shipping.contactno" [formControl]="formControlContactNo" placeholder="Contact No."
            autocomplete="off" maxlength="20">
          <mat-error *ngIf="formControlContactNo.hasError('pattern')">
            Contact No. is invalid.
          </mat-error>
          <mat-error *ngIf="formControlContactNo.hasError('required')">
            Contact No. is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="province" [(ngModel)]="shipping.province" [formControl]="formControlProvince" placeholder="Province"
            autocomplete="off" maxlength="20">
          <mat-error *ngIf="formControlProvince.hasError('required')">
            Province is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="city" [(ngModel)]="shipping.city" [formControl]="formControlCity" placeholder="City" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlCity.hasError('required')">
            City is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="area" [(ngModel)]="shipping.area" [formControl]="formControlArea" placeholder="Area" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlArea.hasError('required')">
            Area is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="street" [(ngModel)]="shipping.street" [formControl]="formControlStreet" placeholder="Street" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlStreet.hasError('required')">
            Street is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="detail" [(ngModel)]="shipping.detail" [formControl]="formControlDetail" placeholder="Detail" autocomplete="off"
            maxlength="100">
          <mat-error *ngIf="formControlDetail.hasError('required')">
            Detail is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="postcode" [(ngModel)]="shipping.postcode" [formControl]="formControlPostcode" placeholder="Postcode"
            autocomplete="off" maxlength="20">
          <mat-error *ngIf="formControlPostcode.hasError('required')">
            Postcode is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-checkbox [checked]="shipping.default" [(ngModel)]="shipping.default"> Default Shipping Address? </mat-checkbox>
      </div>
    </div>
  </div>
</div>
