<page-header [header]="header"></page-header>

<div class="row">
  <div class="col-xs-12">
    <div class="card-box">
      <div layout="row" layout-align="end end" class="pad-left-sm pad-right-sm">
        <a (click)="back()" routerLink="/">
          <md-icon class="tc-grey-800">cancel</md-icon>
        </a>
      </div>
      <div class="m-t-20">
        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput name="name" [(ngModel)]="name" placeholder="Name" [formControl]="formControlProdName" autocomplete="off" maxlength="50">
              <md-error *ngIf="formControlProdName.hasError('pattern')">
                please enter a valid product name
              </md-error>
              <md-error *ngIf="formControlProdName.hasError('required')">
                product name is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput name="code" [(ngModel)]="code" placeholder="Code" [formControl]="formControlProdCode" autocomplete="off" maxlength="50">
              <md-error *ngIf="formControlProdCode.hasError('pattern')">
                please enter a valid product code
              </md-error>
              <md-error *ngIf="formControlProdCode.hasError('required')">
                product code is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <div class="mat-input-container md-input-full-width">
              <div class="mat-input-wrapper">
                <div class="mat-input-infix mat-select-flex">
                  <md-select name="category" placeholder="Category" [(ngModel)]="selectedCategory" #category>
                    <md-option *ngFor="let tag of tags" [value]="tag.key">
                      {{ tag.name }}
                    </md-option>
                  </md-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container>
              <input mdInput placeholder="Tag" [formControl]="formControlProdTag" autocomplete="off" maxlength="20" #tag>
              <md-error *ngIf="formControlProdTag.hasError('pattern')">
                please enter a valid product tag
              </md-error>
              <md-error *ngIf="formControlProdTag.hasError('required')">
                product tag is <strong>required</strong>
              </md-error>
            </md-input-container>
            <button md-button (click)="add(category.selected.value, tag.value)">
               <md-icon class="tc-grey-800">add</md-icon>
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-8">
            <md-chip-list>
              <md-chip *ngFor="let chip of chips" class="md-chip">
                {{chip.value}} <a (click)="remove(chip.key)" href="javascript:void(0)" class="tc-grey-800"><i class="fa fa-times" aria-hidden="true"></i></a>
              </md-chip>
            </md-chip-list>
          </div>
        </div>
        <div class="form-group text-center row m-t-10">
          <div class="col-md-6 col-sm-6"></div>
          <div class="col-xs-10 col-sm-6 col-md-2">
            <button (click)="submit()" [disabled]="!valid()" class="btn btn-success btn-block waves-effect waves-light" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
