<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <div layout="row" layout-align="end end">
      <md-icon (click)="back()" class="tc-grey-800">cancel</md-icon>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <md-input-container class="md-input-full-width" tdFileDrop [disabled]="disabled" (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
          (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()" (keyup.backspace)="fileInput.clear()"
          flex>
          <input mdInput placeholder="Please select or drop images" [value]="files?.length ? (files?.length + ' files') : files?.name"
            [disabled]="disabled" readonly/>
          <md-icon mdPrefix>image</md-icon>
          <md-icon *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()" mdSuffix>cancel</md-icon>
        </md-input-container>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10" layout="row" layout-align="start center">
        <span class="push-right-xs">
        <td-file-input #fileInput [(ngModel)]="files" multiple [disabled]="disabled" accept=".png,.jpg,.jpge" (select)="selectEvent($event)">
          <md-icon>folder</md-icon>&nbsp;<span class="text-upper">Browse</span>
        </td-file-input>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="push-right-xs">
          <button md-raised-button color="accent" [disabled]="!files" (click)="upload()">
              <md-icon>file_upload</md-icon>&nbsp;<span class="text-upper">Upload</span>
        </button>
        </span>
      </div>
    </div>
    <div *ngIf="current.images.length==0" class="row" class="md-padding" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <div *ngIf="current.images.length>0" class="row">
      <md-card *ngFor="let image of current.images" class="col-md-3 col-sm-3 col-xs-10">
        <md-card-header>
          <md-card-title class="md-card-title-pad-left-none">
            <md-icon>image</md-icon>&nbsp;<span>{{image.name}}</span>
          </md-card-title>
        </md-card-header>
        <div layout="row" layout-align="center center">
          <img md-card-image [src]="image.data" class="img-auto-size">
        </div>
        <md-card-actions>
          <div layout="row" layout-align="end end">
            <span class="md-caption tc-grey-400">{{image.date}}</span>
            <md-icon (click)="delete(image.id)">delete</md-icon>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
