.md-card-title-pad-left-none {
  padding-left: 0px !important;
}

.md-card-image-box {
  height: 128px;
}

.md-card-image {
  max-width: 128px;
  max-height: 128px;
  height: auto;
  overflow: hidden;
}
