<page-header [header]="header"></page-header>

<div [formGroup]="formGroup" class="row">

  <div class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span class="toolbar-icon-back" matTooltip="Back" (click)="back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon">
          <mat-icon matTooltip="Save" (click)="submit()">save</mat-icon>
        </span>
      </mat-toolbar>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput formControlName="subject" [(ngModel)]="current.subject" placeholder="Subject" autocomplete="off" maxlength="30">
          <mat-error *ngIf="formGroup.get('subject').hasError('pattern')">
            Only Support case letters, numbers and Chinese.
          </mat-error>
          <mat-error *ngIf="formGroup.get('subject').hasError('required')">
            Subject is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput formControlName="product" placeholder="Product" [matAutocomplete]="auto">
          <mat-error *ngIf="formGroup.get('product').hasError('required')">
            Product is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.get('product').hasError('object')">
            Invalid product
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput formControlName="start" [(ngModel)]="current.start" [min]="minDate" [max]="maxDate" [matDatepicker]="startpicker"
            placeholder="Start Date">
          <span matSuffix>00:00:00 &nbsp;</span>
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-error *ngIf="formGroup.get('start').hasError('required')">
            Start date is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-datepicker #startpicker></mat-datepicker>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput formControlName="end" [(ngModel)]="current.end" [min]="minDate" [max]="maxDate" [matDatepicker]="endpicker"
            placeholder="End Date">
          <span matSuffix>23:59:59 &nbsp;</span>
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-error *ngIf="formGroup.get('end').hasError('required')">
            End date is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-datepicker #endpicker></mat-datepicker>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput type="number" formControlName="original" [(ngModel)]="current.price.original" placeholder="Original Price"
            autocomplete="off">
          <mat-error *ngIf="formGroup.get('original').hasError('required')">
            Original price is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput type="number" formControlName="current" [(ngModel)]="current.price.current" placeholder="Current Price" autocomplete="off">
          <mat-error *ngIf="formGroup.get('current').hasError('required')">
            Current price is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-10">
        <div *ngFor="let price of current.price.vip;let i=index;" class="col-md-2 col-sm-4 col-xs-4">
          <mat-form-field class="mat-input-full-width">
            <input matInput type="number" formControlName="vip{{i+1}}" [value]="price" placeholder="VIP{{i+1}}" autocomplete="off">
            <!-- <span *ngIf="formGroup.get('vip{{i+1}}').hasError('required')" class="tc-red-700" matSuffix>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span> -->
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-checkbox formControlName="enabled" [checked]="current.enabled" [(ngModel)]="current.enabled"> {{current.enabled?"Enabled":"Disabled"}} </mat-checkbox>
      </div>
    </div>

  </div>

</div>
