<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <div class="row">
      <mat-toolbar class="toolbar">
        <span (click)="back()" class="toolbar-icon-back"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-icon"><mat-icon (click)="search()">search</mat-icon></span>
      </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="sn" [(ngModel)]="current.sn" placeholder="Order No." disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <mat-form-field class="mat-input-full-width">
          <input matInput name="cn" [(ngModel)]="current.cn" placeholder="Courier No." [formControl]="formControlCourierNo" autocomplete="off"
            maxlength="20">
          <mat-error *ngIf="formControlCourierNo.hasError('pattern')">
            Only Support case letters and number.
          </mat-error>
          <mat-error *ngIf="formControlCourierNo.hasError('required')">
            Courier No. is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <!-- <iframe name="kuaidi100" src="https://www.kuaidi100.com/frame/app/index2.html" width="800" height="400" marginwidth="0" marginheight="0"
          hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe> -->
      </div>
    </div>
  </div>
