<page-header [header]="header"></page-header>

<div class="row">
  <div class="card-box">
    <mat-toolbar class="toolbar">
      <span class="toolbar-icon-back" *ngIf="!searchBox.searchVisible"><mat-icon>reorder</mat-icon></span>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="gridview.search($event)"
        flex>
      </td-search-box>
      <span class="toolbar-icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
    </mat-toolbar>
    <td-data-table #dataTable [data]="gridview.filteredData" [columns]="gridview.columns" [selectable]="gridview.selectable" [clickable]="gridview.clickable" [multiple]="gridview.multiple"
      [sortable]="gridview.sortable" [sortBy]="gridview.sortBy" [(ngModel)]="gridview.selectedRows" [sortOrder]="gridview.sortOrder" (sortChange)="gridview.sort($event)">
      <ng-template tdDataTableTemplate="active" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <i *ngIf="value" class="fa fa-check-square-o" aria-hidden="true"></i>
          <i *ngIf="!value" class="fa fa-square-o" aria-hidden="true"></i>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
        <div layout="row" layout-align="end end">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="permission(row.name)"><mat-icon>settings_applications</mat-icon><span>Permission</span></button>
            <button mat-menu-item (click)="rolemenu(row.name)"><mat-icon>settings_applications</mat-icon><span>Menu</span></button>
          </mat-menu>
        </div>
      </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <mat-paginator [length]="gridview.filteredTotal" [pageSize]="gridview.pageSize" [pageSizeOptions]="gridview.pageSizeOptions" (page)="gridview.page($event)">
    </mat-paginator>
  </div>
</div>
