<page-header [header]="header"></page-header>

<div class="row">
  <div class="col-xs-12">
    <div class="card-box">
      <div layout="row" layout-align="end end" class="pad-left-sm pad-right-sm">
        <a (click)="back()" routerLink="/">
          <md-icon class="tc-grey-800">cancel</md-icon>
        </a>
      </div>
      <div class="m-t-20">
        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <div class="mat-input-container md-input-full-width">
              <div class="mat-input-wrapper">
                <div class="mat-input-infix mat-select-flex">
                  <md-select name="category" placeholder="Category" [formControl]="formControlCategory" [(ngModel)]="current.category" (change)="onCategoryChanged($event)">
                    <md-option *ngFor="let category of priceCategory" [value]="category.key">
                      {{ category.value }}
                    </md-option>
                  </md-select>
                  <md-error *ngIf="formControlCategory.hasError('required')">
                    Category is <strong>required</strong>
                  </md-error>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput type="number" name="grade" [(ngModel)]="current.grade" placeholder="Grade" [formControl]="formControlGrade"
                autocomplete="off">
                <md-error *ngIf="formControlGrade.hasError('max')">
                Grade should be less than or equal to is 100.
              </md-error>
              <md-error *ngIf="formControlGrade.hasError('min')">
                Grade should be greater than or equal to is 0.
              </md-error>
              <md-error *ngIf="formControlGrade.hasError('required')">
                Grade is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput name="startdate" [(ngModel)]="current.startdate" [min]="minDate" [max]="maxDate" [formControl]="formControlStart"
                [mdDatepicker]="startpicker" placeholder="Start Date">
              <span mdSuffix>00:00:00 &nbsp;</span>
              <button mdSuffix [mdDatepickerToggle]="startpicker"></button>
              <md-error *ngIf="formControlStart.hasError('pattern')">
                The date format should be as 'YYYY/M/D'
              </md-error>
              <md-error *ngIf="formControlStart.hasError('required')">
                Start date is <strong>required</strong>
              </md-error>
            </md-input-container>
            <md-datepicker #startpicker></md-datepicker>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput name="duedate" [(ngModel)]="current.duedate" [min]="minDate" [max]="maxDate" [formControl]="formControlDue"
                [mdDatepicker]="duepicker" placeholder="Due Date">
              <span mdSuffix>23:59:59 &nbsp;</span>
              <button mdSuffix [mdDatepickerToggle]="duepicker"></button>
              <md-error *ngIf="formControlDue.hasError('pattern')">
                The date format should be as 'YYYY/M/D'
              </md-error>
              <md-error *ngIf="formControlDue.hasError('required')">
                Due date is <strong>required</strong>
              </md-error>
            </md-input-container>
            <md-datepicker #duepicker></md-datepicker>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-input-container class="md-input-full-width">
              <input mdInput type="number" name="amount" [(ngModel)]="current.amount" placeholder="Amount" [formControl]="formControlAmount"
                autocomplete="off">
              <md-error *ngIf="formControlAmount.hasError('required')">
                Amount is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-sm-6 col-xs-10">
            <md-checkbox [checked]="current.active" [(ngModel)]="current.active" [indeterminate]="indeterminate"> {{current.active?"Activated":"Inactive"}} </md-checkbox>
          </div>
        </div>
        <div class="form-group text-center row m-t-10">
          <div class="col-md-6 col-sm-6"></div>
          <div class="col-xs-10 col-sm-6 col-md-2">
            <button (click)="submit()" [disabled]="!valid()" class="btn btn-success btn-block waves-effect waves-light" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
