.md-input-full-width {
  width: 100%;
}

.md-input-width-80 {
  width: 60%;
}

.mat-select-flex {
  padding-top: 3px;
}

.mat-select-flex .mat-select {
  width: 100%;
}

.md-chip {
  margin: 5px !important;
}
