.topbar {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}

.topbar .topbar-left {
  background: #ffffff;
  float: left;
  text-align: center;
  height: 70px;
  position: relative;
  width: 250px;
  z-index: 1;
}

.topbar .topbar-left .logo {
  line-height: 70px;
}

.logo {
  color: #2b3d51 !important;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo span span {
  color: #64b0f2;
}


/*Top Navbar*/

.navbar-custom {
  background-color: #2b3d51;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 0px 20px;
  margin-left: 250px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.navbar-custom .navbar-nav .nav-link {
  padding: 0px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.6);
}


/* Seach */

.app-search {
  position: relative;
}

.app-search a {
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
  height: 34px;
  line-height: 34px;
  width: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.app-search a:hover {
  color: #ffffff;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid rgba(129, 138, 145, 0.3);
  font-size: 13px;
  height: 34px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 40px;
  margin-top: 18px;
  background: rgba(129, 138, 145, 0.1);
  box-shadow: none;
  border-radius: 30px;
  width: 200px;
}
